.container {
  width: 100%;
  background-color: #0C0F12;
  min-height: 100vh;
  color: white;
  margin: 0 auto;
}

.container2{
  padding: 12vw 1vw 1vw 1vw;

}

.account{
  width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
}

.account h2{}

form{
  height: 360px;
  width: 330px;
  background-color: white;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  row-gap: 1vw;
}