

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;

}

/* .container{
  padding: 1vw 3vw;
} */

/* .trendingSongs{
  margin-top: 10vw;
} */

 .mode{
  /* margin-top: 9vw; */

}
 .mode h4{
  margin-bottom: 1vw;
  font-size: 1.5vw;
}

.card{
  height: 300px;
  width: 220px;
  
  
  /* border: 1px solid white; */

}

.card img{
  height: 280px;
  width: 100%;
  object-fit: fill;
}

.card p{
  font-size: 1.2vw;
}

.oldSongs, .NewSongs, .mode{
  padding: 1vw 3vw;;
}

.carousel-container {
  z-index: 90;
  position: relative; /* Ensure the z-index takes effect */
}

/* //signInform */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is above other content */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: #ff0000;
}

.AllModeContainer{
    width: 100%;
    background-color: #0C0F12;
    min-height: 100vh;
    color: white;
    padding-left: 2vw;
    padding-bottom: 1vw;
}

.AllModeContainer h4{
  padding-top: 12vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
}

.AllModeSongs{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  row-gap: 2.5vw;
}

.displayMusic{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 100px;
  background-color: rgb(227 35 46 / 73%);
  position: fixed;
  bottom: -6%;
  left: 30%;
  transform: translate(0, -50%);
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.displayMusic img{
  height: 10vh;
  width: 10vh;
  object-fit: contain;
  margin-right: 1vh;
}


.displayMusic.hidden {
  display: none;
}